.mainPage__body {
    background: whitesmoke;
}

.mainPage__header {
    color: black;
    position: fixed;
}
.footer {
    background-color: whitesmoke;
}
.mainHeader, .mainPage__section {
    color: black;
    size: 16px;
}
.sectionHeader {
    color: black;
}

h2 {
    color: black;
}
h3 {
    color: black;
}
p {
    color: black;
}
footer {
    color: black;
}   
.mainPage__main {
    background-color: whitesmoke;
    padding-left: 20%;
}

