.mainPage__body {
    background: whitesmoke;
    min-width: 100%;
    width: 100%;
}

.mainPage__header {
    color: black;
    position: fixed;
    width: 150px;
    height: 100%;
    border-right: 1px solid black;
}
.footer {
    background-color: whitesmoke;
}
.mainHeader, .mainPage__section {
    color: black;
    size: 16px;
}
.sectionHeader {
    color: black;
}

h2 {
    color: black;
}
h3 {
    color: black;
}
p {
    color: black;
}
footer {
    color: black;
}   
.mainPage__main {
    background-color: whitesmoke;
    padding-left: 150px;
    width: 70%;
}